*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

main{
    width: 100vw;
    height: 100vh;
}

.padre{
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;
}

.box{
    display: inline-flex;
    border-radius: 5px;
    border: 2px black double;
}




#one{
    background-color: red;
    position: absolute;
    bottom: 12px;
    left: 22rem;
    bottom: 22rem;
    width: 10rem;
    height: 5rem;
}

#two{
    background-color: grey;
    width: 50rem;
    height: 25rem;
    
}
